/* Center the title and start button */
.title {
    text-align: center;
}

.start-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #12F7D6; /* Green theme color */
    color: #1A1E23; /* Dark text color for contrast */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
}

/* Arrange the sections horizontally */
.game-arrange {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.selected-letter {
    background-color: rgb(214, 223, 245);
    color: #000;
}

/* START WORD TABLE SECTION */
.word-section,
.score-section {
    flex: 1;
    height: 400px;
    overflow-y: auto;
    background-color: #f2f2f274;
    border-radius: 10px;
}
.game-functions{
    height: 400px;
}

.table-common {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.table-common th {
    background-color: #12F7D6; /* Green theme color */
    color: #1A1E23; /* Dark text color for contrast */
    font-weight: bold;
    padding: 10px; /* Increased padding for more space */
}


/* Text color inside tables */
.table-common td {
    color: #1A1E23; /* Dark text color for visibility */
}

.table-common tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-common tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

.table-common tbody tr:hover {
    background-color: #ddd;
}
/* END WORD TABLE */

/* START SCORE TABLE */
.score-section {
    background-color: #f2f2f2; /* Corrected background-color value */
}
/* FINISH SCORE TABLE */

/* Style the game container */
.mini-game-component {
    width: 90%;
}

.game-container {
    width: 430px;
    height: 430px;
    border: 5px solid;
    border-radius: 20px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.grid button {
    width: 60px;
    height: 60px;
    font-size: 1.2em;
}

.grid button:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

/* Style the game functions */
.game-functions {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    text-align: center;
}

.shuffle-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 2rem;
    background-color: #12F7D6; /* Green theme color */
    color: #1A1E23; /* Dark text color for contrast */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.game-instructions{
    margin: 20px;
}

.game-instructions h3{
    font-size: 1.8rem;
}

.game-instructions p{
    font-size: 1.1rem;
}

.timer-text {
    font-size: 2rem; 
    font-weight: bold; 
    margin: 10px 0; 
}


.gameover-text {
    font-size: 1.5rem; 
    font-weight: bold; 
    margin: 20px 
}