/* Navbar.css */

.navbar.scrolled {
  height: 80px; /* Smaller height when scrolled */
  background-color: #282E36;
  transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out; /* Smooth transition */
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  position: fixed;
  z-index: 1000;
  top: 0;
  background-color: #282E36;
}

  
  .navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
    border-bottom: 3px solid #43444D; /* Border color and thickness */
  }
  
  .navbar-item {
    margin: 0 20px; 
  }
  
  .navbar-link {
    text-decoration: none; 
    color: #fff; 
    font-weight: bold;
    
  }
  
  .navbar-link:hover {
    text-decoration: underline;
    color: #ddd; 
  }
  
  .left-section {
    font-size: 1.7rem;
    font-family: 'Courier New', Courier, monospace;
  }

  .dev-symbol {
    color: #12F7D7;
    letter-spacing: -.5px;
  }

  .right-section {
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center; 
  }
  
  .icon {
    margin-right: 8px;
    color: #12F7D7;
  }
  
  .navbar-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center; 
    transition: color 0.3s ease-in-out;
    margin-right: 20px;
  }

  
  
  .navbar-link:hover {
    text-decoration: underline;
    color: #ddd;
    cursor: pointer; 
  }


  /* ... DROPDOWN ... */

  .projects-dropdown-container {
    position: relative; /* Add this */
  }

.projects-dropdown {
  position: absolute;
  background-color: #282E36;
  padding: 10px;
  border-radius: 5px;
   
  right: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: solid #12f7d94c;
}

.dropdown-item {
  padding: 10px 20px;
  white-space: nowrap;
}

.dropdown-link {
  text-decoration: none;
  color: #fff;
  display: block;
  cursor: pointer;
}

.dropdown-link:hover {
  color: #12F7D7;
  text-decoration: underline;
}

body {
  overflow-x: hidden;
}

.navbar-link.dropdown-toggle::after {
  display: inline-block;
  margin-left: 5px;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}



.projects-button {
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 5px 10px;
  border: 1px solid #fff; 
  border-radius: 5px; 
  cursor: pointer;
  font-size: 1rem; 
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace; 
  color: #fff; 
  margin-right: 20px; 
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
}

.projects-button:hover, .projects-button:focus {
  background-color: #fff; 
  color: #282E36; 
  border-color: #12F7D7;
  text-decoration: none; 
}

.projects-icon {
  margin-left: 5px;
  font-size: 1rem; 
  color: inherit; 
}
